.details
  fieldset([ngClass] = '{outer : type === "Media"}')
    legend {{title}}
    .detail(*ngFor = '#entry of entries; #idx = index')
      fieldset
        legend(*ngIf = 'type === "Shrine"') {{(entry.nameOfDeity ? entry.nameOfDeity : 'New ' + type)}}
        legend(*ngIf = 'type === "Attraction" || type === "Event"') {{(entry.title ? entry.title : 'New ' + type)}}
        legend(*ngIf = 'type === "Schedule"') {{(entry.event ? entry.event : 'New ' + type)}}
        legend(*ngIf = 'type === "Media"') {{(entry.title ? entry.title : 'New ' + type)}}
        .shrine-detail(*ngIf = 'type === "Shrine"')
          .form-group
            label(for='nameOfDeity') Name of Deity
            input.form-control(type='text', [(ngModel)]='entry.nameOfDeity', placeholder='Example: Dharbaranyeshwarar')
          .form-group
            label(for='typeOfDeity') Type of Deity
            input.form-control(type='text', [(ngModel)]='entry.typeOfDeity', placeholder='Example: Siva')
        .attraction-detail(*ngIf = 'type === "Attraction"')
          .form-group
            label(for='title') Title
            input.form-control(type='text', [(ngModel)]='entry.title', placeholder='Example: Holy Chariots')
          .form-group
            label(for='description') Description
            textarea.form-control([(ngModel)]='entry.description', placeholder='Example: Thirunallar has two beautiful holy chariots. They are quiet large in size and are famed for their artistic carvings. They are taken out during special festivals and the Gods and Goddesses are taken out in procession around the temple in these holy chariots. It is a great delight for the devotees to have "darsanam" of Gods and Goddesses in procession.')
        .event-detail(*ngIf = 'type === "Event"')
          .form-group
            label(for='title') Title
            input.form-control(type='text', [(ngModel)]='entry.title', placeholder = 'Example: Chariot')
          .form-group
            label(for='description') Description
            textarea.form-control([(ngModel)]='entry.description', placeholder = 'Example: Holy chariots progressing through the streets of Karaikkal')
          .form-group
            label(for='timeOfYear') Time of Year
            textarea.form-control([(ngModel)]='entry.timeOfYear', placeholder = 'Example: Second Poornima of Shravana month (August-September). Please visit temple website for exact dates in current year.')
        .daily-schedule-detail(*ngIf = 'type === "Schedule"')
          .form-group
            label(for='time') Time
            input.form-control(type='text', [(ngModel)]='entry.time', placeholder = 'Example: 05:00 AM - 06:00 AM')
          .form-group
            label(for='event') Event
            input.form-control(type='text', [(ngModel)]='entry.event', placeholder = 'Example: Udhaga Shanthi')
        .media-detail(*ngIf = 'type === "Media"')
          .form-group
            label(for='url') URL
            input.form-control(*ngIf = 'title === "Images"', type='text', [(ngModel)]='entry.url', placeholder = 'Example: http://thirunallartemple.com/wp-content/uploads/2013/12/Fotor1217170819.jpg')
            input.form-control(*ngIf = 'title === "Videos"', type='text', [(ngModel)]='entry.url', placeholder = 'Example: https://www.youtube.com/watch?v=b9KA2-9mHhM')
          .form-group
            label(for='title') Title
            input.form-control(*ngIf = 'title === "Images"', type='text', [(ngModel)]='entry.title', placeholder = 'Example: Cover')
            input.form-control(*ngIf = 'title === "Videos"', type='text', [(ngModel)]='entry.title', placeholder = 'Example: Temple History')
          .form-group
            label(for='description') Description
            textarea.form-control(*ngIf = 'title === "Images"', [(ngModel)]='entry.description', placeholder = 'Example: Raja Goupram with Sani Bhagavan')
            textarea.form-control(*ngIf = 'title === "Videos"', [(ngModel)]='entry.description', placeholder = 'Example: The history and the specialty of Thirunallar temple')
        button.btn.btn-danger((click) = 'removeBtnClicked(idx)')
          span.glyphicon.glyphicon-minus
          |&nbsp; Remove {{type}}
    button.btn.btn-default((click) = 'addBtnClicked()')
      span.glyphicon.glyphicon-plus
      |&nbsp; Add New {{type}}
